####### APP ########################
APP_NAME=app
# APP_ENV in local,production
APP_ENV=production
APP_URL=http://localhost
APP_PORT=9010
APP_DEBUG=false

####### DB #########################
# OPEN_MIGRATION in on,off
OPEN_MIGRATION=off
# in mysql sqlite
DB_CONNECTION=sqlite
DATABASE_URL=db_user:db_pass@tcp(db_host:3306)/db_name?charset=utf8mb4&parseTime=True&loc=Local
# :memory:|./storage/data/sqlite.db
DB_PATH=./storage/data/sqlite.db

DB_MAX_IDLE_CONNECTIONS=50
DB_MAX_OPEN_CONNECTIONS=50
DB_MAX_LIFE_SECONDS=300

####### LOG #########################
# LOG_TYPE stdout,file
LOG_TYPE=stdout
LOG_PATH=./storage/logs/thh.log

####### T_SPIDER ####################
T_OUTPUT=./storage/tmp/
T_SCREENAME=laravelphp
T_MAX_SPIDER_PAGE=4
T_DOWNMEDIA=false
T_ALLUSEPUSH=false
T_ONLYMASTER=true
T_PROXY=http://localhost:11000

####### MODEL_BUILD #################
TARGET_DATABASE_URL=root:root_password@tcp(127.0.0.1:3306)/thh_database?charset=utf8mb4&parseTime=True&loc=Local
ORIGIN_DATABASE_URL=root:root_password@tcp(127.0.0.1:3306)/thh_database?charset=utf8mb4&parseTime=True&loc=Local
DB_CONNECT=dt/config/dbconnect
MODEL_OUTPUT_DIR=./storage/model/

####### MAKE_MD_LIST #################
BUILD_MD_LIST=/Users/thh/workspace/api-doc

PIC_OUTPUT_PATH=./storage/model/
#end